body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  color: #000000;
  font-style: normal;
  font-weight: 400;

  --main-color:linear-gradient(180deg, #dc6a00 0%, #f9321f 100%);
  --main-color-not-gradient: #ec4c06;
  --secondary: #FFFFFF;
  --secondary-text: #FFFFFF;
  --unactive: #767676;
  --error: #dc3545;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-color{
  background: linear-gradient(180deg, #DC6A00 0%, #F9321F 100%);
}
.unactive {
  background: #767676;
}
.unactive-text {
  color: #767676;
}
.shadow-top-bar{
  /*background: #C4C4C4;*/
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.15), 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.shadow-bottom-bar{
  /*background: #C4C4C4;*/
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2), 0px -4px 8px rgba(0, 0, 0, 0.15), 0px -8px 16px rgba(0, 0, 0, 0.1);
}
.shadow-mine{
  /*background: #C4C4C4;*/
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.shadow-mine-hover:hover{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.shadow-mine-hover:hover{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.shadow-neomorph {
  /*background: #C4C4C4;*/
  box-shadow: -5px 5px 10px rgba(79, 79, 79, 0.2), 5px -5px 10px rgba(79, 79, 79, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(79, 79, 79, 0.9);
}
.shadow-inner-neomorph{
  box-shadow: inset -2px 2px 4px rgba(94, 31, 6, 0.2), inset 2px -2px 4px rgba(94, 31, 6, 0.2), inset -2px -2px 4px rgba(255, 125, 26, 0.9), inset 2px 2px 5px rgba(94, 31, 6, 0.9);
}
.shadow-inner-neomorph-focus:focus{
  box-shadow: inset -2px 2px 4px rgba(94, 31, 6, 0.2), inset 2px -2px 4px rgba(94, 31, 6, 0.2), inset -2px -2px 4px rgba(255, 125, 26, 0.9), inset 2px 2px 5px rgba(94, 31, 6, 0.9);
}
.shadow-inner-my,.shadow-inner-my:focus{
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
}
.shadow-inner-my-focus:focus{
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
}
.secondary{
  background: var(--secondary);
}
.secondary-text{
  color: var(--secondary);
}
.color-error{
  color: var(--error);
}
.cursor-pointer{
  cursor: pointer;
}

.font-s-13{
  font-size: 13px;
  line-height: 16px;
}
.font-s-14{
  font-size: 14px;
  line-height: 16px;
}
.font-s-16{
  font-size: 16px;
  line-height: 19px;
}
.font-s-18{
  font-size: 18px;
  line-height: 21px;
}
.font-s-20{
  font-size: 20px ;
  line-height: 23px;
}
.font-s-24{
  font-size: 24px;
  line-height: 24px;
}
.font-s-30{
  font-size: 30px;
  line-height: 33px;
}
.font-w-100{
  font-weight: 100;
}
.font-w-200{
  font-weight: 200;
}
.font-w-300{
  font-weight: 300;
}

a{
  text-decoration: none;
  color: var(--secondary-text);
}
a:active,a:focus,a:hover{
  text-decoration: none;
  color: var(--secondary-text);
}

.z-index-0{
  z-index: 0 !important;
}

.modal-all{
  border-radius: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.one{
  grid-column: 1;
}
.two{
  grid-column: 2;
}

.header{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: var(--secondary);
}

.navbar{
  background: linear-gradient(180deg, #DC6A00 0%, #F9321F 100%);
  min-width: 175px;
  padding: 0;
}
.navbar-link{

}
.navbar-link.active{
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #d70000;
  background: #717171;
}
.navbar-task-icon{
  border: 1px solid #fff;
  padding: 2px 6px;
  border-radius: 3px;
}
.navbar-task-icon.active{
  border: 1px solid #d70000;
  padding: 2px 6px;
  border-radius: 3px;
}
.navbar-link-exit{
  position: absolute;
  bottom: 20px;
}

.orders-filter-btn-green{
  background-color: #5cb85c;
}
.orders-filter-btn-red{
  background-color: #fa4a4a;
}
.orders-filter-btn-yellow{
  background-color: #f0ad4e;
}
.orders-filter-btn-black{
  background-color: #282e33;
}
.orders-filter-btn{
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 12px;
  margin-left: 12px;
  padding: 8px 16px 8px 12px;
  transition: opacity .4s ease;
  color: var(--secondary-text);
}
.orders-filter-btn.no-active{
  opacity: 0.3;
}
.orders-table{
  display: block;
  overflow: auto;
  white-space: nowrap;
}
.loading{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 2;

  background: var(--main-color);
}
.warehouse-add-btn{
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px 8px 12px;
  transition: opacity .4s ease;
  color: var(--secondary-text);
}
.block-center-screen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/*slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ec4c06;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ec4c06;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}
/*slider end*/

.btn-all{
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px 15px;
}
.btn-all:hover{}
.btn-all:focus{}
.btn-regular{
  background: var(--main-color);
  color: var(--secondary-text);
}
.btn-delete-product{
  border: 1px solid  #BD1000;
  color:  #BD1000;
  padding: 5px 30px;
  background-color: var(--secondary);
}
.btn-delete-product-modal{
  border: 1px solid  #BD1000;
  color:  #BD1000;
}
.modal-create-product-box-img{
  border: 1px dashed var(--unactive);
  width: 150px;
  height: 150px;
}
.modal-create-product-box-img-mini{
  border: 1px dashed var(--unactive);
  width: 50px;
  height: 50px;
}
input[type="file"] {
  display: none;
}

.box-create-modal-hover{
  position: absolute;
  opacity:.7;
  background: black;
}
.my-form-control,.my-form-control:-internal-autofill-selected{
  background: var(--secondary);
  border: 1px solid transparent;
  border-radius: 10px;
  background:
          linear-gradient(to right, white, white),
          linear-gradient(180deg, #DC6A00 0%, #F9321F 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.my-form-control:focus{
  outline: none;
}
form.was-validated select.my-form-control{
  background-image: none !important;
}
.auth-box{
  background: var(--main-color);
}
.auth-card{
  padding: 20px;
  border-radius: 20px;
  width: 450px;
  background: var(--secondary);
}
.list-group-payments {
  border: none;
  border-bottom: 1px solid #CECECE;
  border-radius: 0 !important;
  text-align: center;
}
.list-group-payments:focus{
  border: none;
  outline: none;
}
.list-group-payments.active {
  box-shadow: none ;
  border-radius: 0 !important;
  border: none;
  background: var(--main-color);
}
.payments-cash-desk-btn{
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px 8px 12px;
  color: var(--secondary-text);
}
.payments-cash-desk-btn-moving{
  align-items: center;
  border-radius: 8px;
  border: 1px solid black;
  padding: 8px 16px 8px 12px;
  color: black;
}